# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# TypeScript cache
*.tsbuildinfo

# VSCode settings
.vscode/

# Docker artifacts (opcjonalnie)
*.pid
*.log
docker-compose.override.yml
